/* Write your CSS here */

.outer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.container {
  background-image: linear-gradient(to bottom, #ff6e7f, #bfe9ff);
  height: 250px;
  width: 250px;
  background-size: cover;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heading {
  color: #0f172a;
  font-size: 38px;
  font-family: 'Roboto';
  font-weight: 900;
}

.span {
  color: #0f172a;
  font-size: 38px;
  font-family: 'Roboto';
  font-weight: 900;
}

.button {
  color: #334155;
  font-size: 14px;
  font-family: 'Roboto';
  border-color: #0f172a;
  border-radius: 5px;
}

.description {
  color: #334155;
  font-size: 10px;
  font-family: 'Roboto';
}
